Blocking of Cloudflare ECH in Russia, 2024-11-05

\[Discussion moved from https://github.com/net4people/bbs/issues/393#issuecomment-2461603654. NTC threads are https://ntc.party/t/12837 (technical information) and https://ntc.party/t/12732 (discussion).\]

[Cloudflare's deployment of Encrypted Client Hello (ECH)](https://github.com/net4people/bbs/issues/393) is blocked in multiple networks in Russia since 2024-11-05. The blocking trigger is the presence of [both of the following two elements](https://github.com/net4people/bbs/issues/393#issuecomment-2462130383) in the Client Hello:

1. An [SNI extension](https://www.rfc-editor.org/rfc/rfc6066#section-3) with the value `cloudflare-ech.com`.
2. An [ECH extension](https://www.ietf.org/archive/id/draft-ietf-tls-esni-22.html#section-5).

Neither of these elements on its own is sufficient. That is, an SNI of cloudflare-ech.com *without* an ECH extension is not blocked, and [GREASE ECH](https://www.ietf.org/archive/id/draft-ietf-tls-esni-22.html#section-6.2) with an SNI other than cloudflare-ech.com is not blocked.

Both TCP-based HTTP/2 and UDP-based HTTP/3 (QUIC) are affected. The blocking mechanism is packet dropping on the connection after the signature is detected (i.e., not a TCP RST or other overt teardown).

It seems that Firefox, at least, will [retry the connection without ECH](https://github.com/net4people/bbs/issues/393#issuecomment-2462162744) after a long delay (about a minute). Such a fallback to plaintext SNI apparently [violates the ECH specification](https://www.ietf.org/archive/id/draft-ietf-tls-esni-22.html#section-8.1.1): "the client MUST NOT fall back to using unencrypted ClientHellos, as this allows a network attacker to disclose the contents of this ClientHello, including the SNI."

The blocking of ECH was officially acknowledged in a notice from the Public Communications Network Monitoring and Control Center (ЦМУ ССОП):

[https://cmu.gov.ru/ru/news/2024/11/07/рекомендуем-отказаться-от-cdn-сервиса-cloudflare/](https://cmu.gov.ru/ru/news/2024/11/07/%D1%80%D0%B5%D0%BA%D0%BE%D0%BC%D0%B5%D0%BD%D0%B4%D1%83%D0%B5%D0%BC-%D0%BE%D1%82%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%D1%81%D1%8F-%D0%BE%D1%82-cdn-%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0-cloudflare/) ([archive](https://web.archive.org/web/20241107135608/https://cmu.gov.ru/ru/news/2024/11/07/%D1%80%D0%B5%D0%BA%D0%BE%D0%BC%D0%B5%D0%BD%D0%B4%D1%83%D0%B5%D0%BC-%D0%BE%D1%82%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%D1%81%D1%8F-%D0%BE%D1%82-cdn-%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0-cloudflare/))

> ### Рекомендуем отказаться от CDN-сервиса CloudFlare
>
> Американская компания CloudFlare, поставщик услуг CDN, включила в октябре применение по умолчанию на своих серверах расширение TLS ECH (Encrypted Client Hello). Эта технология – средство обхода ограничений доступа к запрещенной в России информации. Его использование нарушает российское законодательство и ограничивается техническими средствами противодействия угрозам (ТСПУ).
>
> Рекомендуем владельцам информационных ресурсов отключить расширение TLS ECH или, что правильнее, использовать отечественные CDN-сервисы, которые обеспечивают надежное и безопасное функционирование ресурсов и защиту от компьютерных атак.
>
> В частности, защиту от DDoS-атак может обеспечить Национальная система противодействия DDoS-атакам (НСПА). За время ее работы (с марта 2024 года) отражено более 10,5 тыс. DDoS-атак на различные организации страны.
>
> Обращаем внимание, что CloudFlare была одной из компаний BigTech, которые собирал Госдеп США в сентябре для обсуждения комплексного и организованного противодействия странам, активно защищающим свой информационный суверенитет ([источник](https://www.reuters.com/technology/us-calls-big-tech-help-evade-online-censors-russia-iran-2024-09-05/)).

> ### *It is recommended to opt out of CloudFlare's CDN service*
>
> *The American company CloudFlare, a provider of CDN services, in October enabled the default use of the TLS ECH (Encrypted Client Hello) extension on its servers. This technology is a means of circumventing restrictions on access to information banned in Russia. Its use violates Russian law and is restricted by the Technical Measure to Combat Threats (TSPU).*
>
> *We recommend that owners of information resources disable the TLS ECH extension or, more correctly, use domestic CDN services that ensure reliable and secure functioning of resources and protection from computer attacks.*
>
> *In particular, protection from DDoS attacks can be provided by the National System for Countering DDoS Attacks (NSPA). During its operation (since March 2024), more than 10.5 thousand DDoS-attacks on various organizations of the country have been reflected.*
>
> *Note that CloudFlare was one of the BigTech companies that the U.S. State Department gathered in September to discuss a comprehensive and organized response to countries actively defending their information sovereignty ([source](https://www.reuters.com/technology/us-calls-big-tech-help-evade-online-censors-russia-iran-2024-09-05/)).*

[OONI tests web connectivity](https://github.com/net4people/bbs/issues/393#issuecomment-2462121200) to the SNI cloudflare-ech.com, and [similarly GlobalCheck](https://ntc.party/t/12732/27), but the measurements do not show blocking. That is because these tests do not have the other necessary part of the signature, the ECH extension. OONI is working on a [dedicated ECH test](https://github.com/ooni/probe/issues/1453).

https://github.com/net4people/bbs/issues/393#issuecomment-2462121200

> Can you share some more details and possibly data supporting the claim that "All Cloudflare ECH-enabled services are blocked"? The `cloudflare-ech.com` domain has been added to OONI testing, however we do not see it blocked in the 23 networks it's been tested in so far: https://explorer.ooni.org/chart/mat?probe_cc=RU&since=2024-10-08&until=2024-11-08&time_grain=day&axis_x=measurement_start_day&test_name=web_connectivity&domain=cloudflare-ech.com.
> 
> …
> 
> We have an upcoming test in OONI Probe that should be able to test this, so it would be useful to collect some information on that once we have it out: ooni/probe#1453.

Other reporting and discussion.

* [Habr: Роскомнадзор, вероятно, начал блокировать подключение к CloudFlare с использованием TLS ECH (Encrypted Client Hello)](https://habr.com/ru/news/856342/) *Roskomnadzor has probably started blocking connections to CloudFlare using TLS ECH (Encrypted Client Hello)* ([archive](https://web.archive.org/web/20241107144851/https://habr.com/ru/news/856342/))
  <details><summary>Show text</summary>
  <blockquote>
  <h3>Роскомнадзор, вероятно, начал блокировать подключение к CloudFlare с использованием TLS ECH (Encrypted Client Hello)</h3>

  С полуночи сразу в нескольких российских локациях наблюдается следующая ситуация:

  Chrome отваливается по таймауту при попытке зайти на любой из множетсва сайтов, проксируемых через CloudFlare с включенным TLS 1.3 (ECH это расширение TLS 1.3). При этом те же самые сайты с той же самой машины можно скачать с использованием wget, который не поддерживает ECH. После выключения TLS 1.3 на стороне CloudFlare сайты становятся доступны через несколько минут (отключение TLS 1.3 отключает и ECH тоже).

  Сайты с TLS 1.2 и ниже работают как обычно.

  Воспроизводится из нескольких локаций у разных операторов на примерно сотне сайтов.

  Через VPN те же сайты всё это время работают нормально.

  Среди попавших под раздачу оказались:

  https://openstreetmap.org
  https://diary.ru
  https://kopilkaurokov.ru
  https://uchitelya.com
  https://opensubtitles.org

  Из 10000 самых трафиковых сайтов по версии рейтинга alexa.com на CloudFlare заведены примерно 2500. Из них примерно 700 имеют в DNS запись, информирующую о поддержке ECH.
  </blockquote>
  <blockquote>
  <h3><i>Roskomnadzor has probably started blocking connections to CloudFlare using TLS ECH (Encrypted Client Hello)</i></h3>

  Since midnight the following situation is observed in several Russian locations at once:

  Chrome crashes on timeout when trying to access any of the many sites proxied through CloudFlare with TLS 1.3 enabled (ECH is an extension of TLS 1.3). At the same time, the same sites from the same machine can be downloaded using wget, which does not support ECH. After disabling TLS 1.3 on the CloudFlare side, the sites become available in a few minutes (disabling TLS 1.3 disables ECH too).

  Sites with TLS 1.2 and below work as normal.

  Reproduced from several locations at different operators on about a hundred sites.

  The same sites have been working fine via VPN all this time.

  Among the sites that got hit were:

  https://openstreetmap.org
  https://diary.ru
  https://kopilkaurokov.ru
  https://uchitelya.com
  https://opensubtitles.org

  Of the 10,000 highest traffic sites according to alexa.com rankings, about 2,500 are hosted on CloudFlare. Of these, about 700 have a DNS record informing about ECH support.
  </blockquote>
  </details>


Since they are "suggesting" people to move to local alternatives to cloudflare. How likely it is that they gonna block all of the ip addresses of cloudflare?

Thanks for summarizing this information.

The upcoming ECH test in OONI, although it only supports the GREASEd ECH extension, based on what has been reported so far should be enough to test for this behaviour.

Based on the input in this thread we are adding support for testing a different `server_name` values in the `OuterClientHello` that are not `cloudflare-ech.com` to check if it would be enough for cloudflare to deploy a different `echconfig` in order to avoid the block.

as per: https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-22#section-6.1-6
> It SHOULD place the value of ECHConfig.contents.public_name in the "server_name" extension. Clients that do not follow this step, or place a different value in the "server_name" extension, risk breaking the retry mechanism described in Section 6.1.6 or failing to interoperate with servers that require this step to be done; see Section 7.1.

the value inside of the `OuterClientHello` `server_name` should be determined by the `public_name` value of the `echconfig` and so it can be changed just at the DNS level.

Here is the diff of the changes to the test: https://github.com/ooni/probe-cli/pull/1658 and specification: https://github.com/ooni/spec/pull/297

If there are any thoughts on what we might want to do additionally to this, let us know. We are planning to ship this release of the measurement engine next week.

> It seems that Firefox, at least, will [retry the connection without ECH](https://github.com/net4people/bbs/issues/393#issuecomment-2462162744) after a long delay (about a minute). Such a fallback to plaintext SNI apparently [violates the ECH specification](https://www.ietf.org/archive/id/draft-ietf-tls-esni-22.html#section-8.1.1): "the client MUST NOT fall back to using unencrypted ClientHellos, as this allows a network attacker to disclose the contents of this ClientHello, including the SNI."

From what I've been able to gather from [asking on NTC](https://ntc.party/t/12732/302), it seems that both Firefox and Chrome have a fallback to retry an ECH connection without ECH. Firefox falls back automatically after a certain amount of time. Chrome falls back after clicking the Reload button multiple times, but the fallback is disabled if DoH is configured. Treat these observations as preliminary.

Is anyone an expert at searching [Bugzilla](https://bugzilla.mozilla.org/home) or the [Chromium Issue Tracker](https://www.chromium.org/issue-tracking/), or exploring the source code of Firefox or Chromium, who can find where these apparent non-ECH fallback policies might be enacted?

* In Firefox, the browser internally retries the connection (without the user clicking the Reload button), and eventually reconnects without ECH, after about 40 to 60 seconds. This happens whether or not the browser is configured to use DoH.

  https://ntc.party/t/12837/1
  > В Firefox 131 сайты с ECH открываются без ECH через минуту «загрузки» — открывается новое соединение с plain SNI, а старое закрывается. Причину не знаю, возможно, это из-за того, что у меня отключён DNS-over-HTTPS, но ECH всё равно используется.
  >
  > *In Firefox 131 sites with ECH open without ECH after a minute of "loading" — a new connection with plain SNI is opened, and the old one is closed. I don't know the reason, maybe it's because I have DNS-over-HTTPS disabled, but ECH is still used.*

  https://ntc.party/t/12732/310
  > for example : `https://www.hwinfo.com/download`
  >
  > windows 10 ltsc / firefox / cf dns on router / cf doh in browser
  > first attempt browser tries to open with ech:
  >
  > `Client Hello (SNI=cloudflare-ech.com)`
  >
  > then after few retransmissions it gets RST
  >
  > `[RST, ACK]`
  >
  > then second attempt with same actions
  >
  > `Client Hello (SNI=cloudflare-ech.com)`
  >
  > and then it opens with hwinfo client hello after 40 seconds
  >
  > `Client Hello (SNI=www.hwinfo.com)`
  >
  > Attempts mean attempts by browser , I didnt click refresh button

  https://ntc.party/t/12732/312
  > > DoH в Firefox принудительно или дефолт?
  >
  > у меня trr mode = 3 использовать только TRR (если ты про это спрашиваешь)
  >
  > > *DoH in Firefox forced or default?*
  >
  > *I have TRR mode = 3 use only TRR (if you ask about it)*

* In Chrome, if you click the Reload button enough times (around 6 times), eventually the browser will retry without ECH. However, if the browser is configured to use DoH, the fallback does not occur.

  https://ntc.party/t/12732/65
  > Проверил сайты (в последнем ungoogled chromum 130 на линуксе):
  >
  > С DoH и ECH под Йотой все не открываются.
  > Без DoH и с провайдеровским DNS тоже почти все не открываются, но может иногда один начать открываться (`sakhtv.ru`) после чистки профиля или наоборот перестать открываться.
  >
  > *Checked the sites (in the latest ungoogled chromum 130 on linux):*
  >
  > *With DoH and ECH under Yota, everyone does not open.*
  > *Without DoH and with ISP DNS, almost all of them do not open either, but sometimes one of them starts to open (`sakhtv.ru`) after clearing the profile or vice versa stops opening.*

  https://ntc.party/t/12732/311
  > **Chrome** 130.0.6723.116 (официальная сборка) **без DoH** в браузере на **Linux** после нескольких нажатий “Обновить” отключает ECH для домена.
  >
  > ***Chrome** 130.0.6723.116 (official build) **without DoH** in the browser on **Linux** after a few clicks of "Reload" disables ECH for the domain.*

  https://ntc.party/t/12732/309
  > **Chrome** 130.0.6723.116 (официальная сборка от Google) с **DoH** в браузере (1.1.1.1) на **Linux** не пытается установить соединение без ECH даже после нескольких нажатий "Обновить" (кроме того, и без кнопки "Обновить" он сам безуспешно пытается восстановить коннект). Таймаут после 1 минуты, а потом ошибка.
  >
  > ***Chrome** 130.0.6723.116 (official build from Google) with **DoH** in the browser (1.1.1.1) on **Linux** does not try to establish a connection without ECH even after a few clicks of "Reload" (in addition, even without the "Reload" button, it unsuccessfully tries to restore the connection itself). Timeout after 1 minute, and then an error.*


disable-ech.sh
https://gist.github.com/FazziCLAY/75f72acc8b728530a637121fdee4dfb5

Hello Everyone,
Yesterday I tried to connect to my Sing-Box VPN which is behind the Cloudflare CDN with ECH Enabled. Also I had tested it with direct connection to my server successfully. it is now possible to use ECH when your Sing-Box service is behind the CDN.
just use ``` dig +short <YOUR_SNI> HTTPS ``` and retrieve the key you find ``` ech=xxxxxxxxxx ``` (Do not copy 'ech=').
You need to prepare ``` Vless or Trojan with Websocket or HTTPUpgrade ``` with sing-box v1.10.x behind Cloudflare CDN.
Then use following outbound configuration and use it along with DOH. DOH is necessary !

Based on my observations it does not ``` h2 ``` as ALPN and I don't know why so leave ALPN ```h3```.

Suppose the ech key you find is 
```AEX+DQBBVgAgACBmdQmMnXF6/qYdFq+r5VhboQqZ2EzHG1gPKHRY2/k+KwAEAAEAAQASY2xvdWRmbGFyZS1lY2guY29tAAA=```
 then I divided it into two parts
```AEX+DQBBVgAgACBmdQmMnXF6/qYdFq+r5VhboQqZ2EzHG1gPKHRY2/k+KwAEAAEA```
```AQASY2xvdWRmbGFyZS1lY2guY29tAAA=```
so look at the config and put it like I used.

### JUST MY THOUGHTS and OBSERVATIONS
If an ECH config deos not work try ``` dig +short <YOUR_SNI> HTTPS  ``` again to get another key and test it again.
YOU MAY SEE different ECH keys !
I THINK keys validation EXPIRES everyday so you need to update it everyday !


### The Client Outbound Config
```json
{
      "packet_encoding": "packetaddr",
      "server": "One_CLOUDFLARE_IP",
      "server_port": 443,
      "tls": {
        "alpn": [
          "h3"
        ],
        "ech": {
          "config": [
            "-----BEGIN ECH CONFIGS-----",
"AEX+DQBBVgAgACBmdQmMnXF6/qYdFq+r5VhboQqZ2EzHG1gPKHRY2/k+KwAEAAEA",
"AQASY2xvdWRmbGFyZS1lY2guY29tAAA=",
            "-----END ECH CONFIGS-----"
          ],
          "dynamic_record_sizing_disabled": false,
          "enabled": true,
          "pq_signature_schemes_enabled": false
        },
        "enabled": true,
        "insecure": false,
        "server_name": "YOUR_SNI",
        "utls": {
          "enabled": true,
          "fingerprint": "chrome_psk_shuffle"
        }
      },
      "transport": {
        "early_data_header_name": "Sec-WebSocket-Protocol",
        "headers": {
          "Host": "YOUR_SNI"
        },
        "max_early_data": 2048,
        "path": "/YOUR_PATH",
        "type": "ws"
      },
      "uuid": "YOUR_UUID",
      "type": "vless",
      "tag":"vless-tag-tag",
      "multiplex": {
        "enabled": true,
        "max_streams": 8,
        "padding": true,
        "protocol": "h2mux"
      }
    },
```

The reason it works on Windows 10 vs 11 is that on Windows 10 there is a bug in WIndows API and it cannot request HTTPS RR that containts ECH key.

https://rutracker.org/forum/out.php?url=https%3A%2F%2Fphabricator.services.mozilla.com%2FD193656&p=86814196&t=6417817&f=616&u=33485267

// For some reason, the DNSQuery_A API doesn't work on Windows 10.  
// It returns a success code, but no records. We only allow 
// native HTTPS records on Win 11 for now.
 



> > It seems that Firefox, at least, will [retry the connection without ECH](https://github.com/net4people/bbs/issues/393#issuecomment-2462162744) after a long delay (about a minute). Such a fallback to plaintext SNI apparently [violates the ECH specification](https://www.ietf.org/archive/id/draft-ietf-tls-esni-22.html#section-8.1.1): "the client MUST NOT fall back to using unencrypted ClientHellos, as this allows a network attacker to disclose the contents of this ClientHello, including the SNI."
> 
> From what I've been able to gather from [asking on NTC](https://ntc.party/t/12732/302), it seems that both Firefox and Chrome have a fallback to retry an ECH connection without ECH. Firefox falls back automatically after a certain amount of time. Chrome falls back after clicking the Reload button multiple times, but the fallback is disabled if DoH is configured. Treat these observations as preliminary.
> 
> Is anyone an expert at searching [Bugzilla](https://bugzilla.mozilla.org/home) or the [Chromium Issue Tracker](https://www.chromium.org/issue-tracking/), or exploring the source code of Firefox or Chromium, who can find where these apparent non-ECH fallback policies might be enacted?
> 

In Firefox, the fallback to a non-ECH connection is controlled by the preference `network.dns.echconfig.fallback_to_origin_when_all_failed`, which is set to false by default.

When DoH is configured in Firefox, the browser waits for the DNS lookup of the HTTPS record to complete before establishing connections to ensure that ECH is used. If DoH is not configured, Firefox attempts to look up the HTTPS record using the native resolver but does not wait for the DNS lookup to complete. In this scenario, Firefox may fallback to a non-ECH connection because the HTTPS record has not been resolved during the connection establishment process.

If anyone can reproduce a case where Firefox makes a non-ECH connection with DoH enabled, please file a bug in Bugzilla and include an [HTTP log](https://firefox-source-docs.mozilla.org/networking/http/logging.html#using-about-logging). We will investigate the issue.

Thanks.

Checking for both the ECH extension AND SNI as `cloudflare-ech.com` seems just as an initial sanity check.

If one really wanted to stop ECH, they would block all traffic with the ECH extension. Sure, this would block GREASE traffic as well, but the protocol is new so there is no real pressure for them to need to allow it, instead just suggest that clients use e.g. TLSv1.2 instead (or don't set this extension).

>wanted to stop ECH, they would block all traffic with the ECH extension

There is no any ECH extension. It looks like there is no SNI, which is what happens when you go to https://1.1.1.1 e.g.

> There is no any ECH extension. It looks like there is no SNI, which is what happens when you go to https://1.1.1.1 e.g.

I beg your pardon, but you are wrong about that.

https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#section-1

> This document specifies a <mark>new TLS extension</mark>, called Encrypted Client Hello (ECH), that allows clients to encrypt their ClientHello to the TLS server.

https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#section-5

> To offer ECH, the client sends an <mark>"encrypted_client_hello" extension</mark> in the ClientHelloOuter. When it does, it MUST also send the extension in ClientHelloInner.
>
> ```
> enum {
>   encrypted_client_hello(0xfe0d), (65535)
> } ExtensionType;
> ```

> Why do you think there is a fake SNI field there?

With ECH, the client sends two ClientHellos: a plaintext ClientHelloOuter and an encrypted ClientHelloInner. The ClientHelloInner is the "real" ClientHello, and it is stored inside the ECH extension.

https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#section-3.2

> When a client wants to establish a TLS session with some backend server, it constructs a private ClientHello, referred to as the ClientHelloInner. The client then constructs a public ClientHello, referred to as the ClientHelloOuter. The ClientHelloOuter contains innocuous values for sensitive extensions and an "encrypted_client_hello" extension ([Section 5](https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#section-5)), which carries the encrypted ClientHelloInner. Finally, the client sends ClientHelloOuter to the server.

>This document specifies a new TLS extension, called Encrypted Client Hello (ECH), that allows clients to encrypt their ClientHello to the TLS server.

So? I was right, there is no any extension. There is only a extension inside of the encryption... If there were not any difference between ECH and TLS it would be just using DNS keys, which is certainly possible soon.

>offer ECH, the client sends an "encrypted_client_hello" extension in the ClientHelloOuter

If there is HTTPS RR it will tell client what the ipv6, ipv4 and https3/ech status and its key 

>The ClientHelloOuter contains innocuous values for sensitive extensions and an "encrypted_client_hello" extension

How is SNI of domain that has ech in it is inoccent?


> > This document specifies a new TLS extension, called Encrypted Client Hello (ECH), that allows clients to encrypt their ClientHello to the TLS server.
> 
> So? I was right, there is no any extension. There is only a extension inside of the encryption... If there were not any difference between ECH and TLS it would be just using DNS keys, which is certainly possible soon.

I don't know what to tell you. Try looking at a pcap; the extension number is 0xfe0d.

> > The ClientHelloOuter contains innocuous values for sensitive extensions and an "encrypted_client_hello" extension
> 
> How is SNI of domain that has ech in it is inoccent?

You ought to read the ECH draft if you really want to understand it. I recommend at least reading the ["Do Not Stick Out"](https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#section-10.10.4) section, which explains the rationale for much of the design. One may dispute whether the GREASE and outer SNI arguments are convincing, but it is a fact that a TLS connection using ECH has both an ECH extension and an SNI extension.

> As a means of reducing the impact of network ossification, [[RFC8744](https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#RFC8744)] recommends SNI-protection mechanisms be designed in such a way that network operators do not differentiate connections using the mechanism from connections not using the mechanism. To that end, ECH is designed to resemble a standard TLS handshake as much as possible. The most obvious difference is the extension itself: as long as middleboxes ignore it, as required by [[RFC8446](https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#RFC8446)], the rest of the handshake is designed to look very much as usual.
>
> The GREASE ECH protocol described in [Section 6.2](https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#grease-ech) provides a low-risk way to evaluate the deployability of ECH. It is designed to mimic the real ECH protocol ([Section 6.1](https://www.ietf.org/archive/id/draft-ietf-tls-esni-23.html#real-ech)) without changing the security properties of the handshake. The underlying theory is that if GREASE ECH is deployable without triggering middlebox misbehavior, and real ECH looks enough like GREASE ECH, then ECH should be deployable as well. Thus, the strategy for mitigating network ossification is to deploy GREASE ECH widely enough to disincentivize differential treatment of the real ECH protocol by the network.

For HTTPS RRs, see [RFC 9640](https://www.rfc-editor.org/rfc/rfc9460) and the [Bootstrapping TLS Encrypted ClientHello with DNS Service Bindings](https://www.ietf.org/archive/id/draft-ietf-tls-svcb-ech-07.html) draft. HTTPS records in DNS are used to construct the ECH extension; they are not a replacement for it.

![Image](https://github.com/user-attachments/assets/478664b3-1028-4ae0-858c-e9babf5010de)

Oh

An Interfax article quotes a statement by Roskomnadzor that asks site owners to disable ECH support.

https://www.interfax.ru/digital/1017951 ([archive](https://web.archive.org/web/20250403041846/https://www.interfax.ru/digital/1017951))
2025-04-02 18:22

> ### РКН рекомендует отказаться от обходящего блокировки расширения сервиса Cloudflare
>
> INTERFAX.RU - Роскомнадзор (РКН) рекомендовал владельцам российских интернет-ресурсов отказаться от использования включённого по умолчанию расширения CDN-сервиса компании CloudFlare, так как оно обходит ограничения доступа к запрещённой в РФ информации.
>
> "Американская компания CloudFlare, поставщик услуг CDN, включила в октябре 2024 года применение по умолчанию на своих серверах расширение TLS ECH (Encrypted Client Hello). Эта технология - средство обхода ограничений доступа к запрещенной в России информации. Его использование нарушает российское законодательство и ограничивается техническими средствами противодействия угрозам (ТСПУ)", - говорится в сообщении РКН.
>
> "Рекомендуем владельцам информационных ресурсов отключить расширение TLS ECH или, что правильнее, использовать отечественные CDN-сервисы, которые обеспечивают надёжное и безопасное функционирование ресурсов и защиту от компьютерных атак", - добавили в ведомстве.
>
> Такое заявление было сделано РКН в связи с появившейся в соцсетях информацией о том, что ведомство блокирует ресурсы Cloudflare, использующие TLS, из-за чего пользователи жалуются на невозможность получить доступ к сайтам в интернете.
>
> Аналогичное [заявление](https://www.interfax.ru/russia/990568) было сделано 7 ноября 2024 года в связи с появившейся в соцсетях информаций о блокировке Роскомнадзором CDN-сервиса CloudFlare из-за включения в него протокола, который позволяет обойти блокировки ресурсов в "рунете".


> ### *RKN recommends abandoning the block-avoiding extension of the Cloudflare service*
>
> *Roskomnadzor (RKN) recommended that owners of Russian Internet resources refuse to use the extension of the CDN service of CloudFlare on default, as it costs restrictions on access to the information banned in the Russian Federation.*
>
> *"The American company Cloudflare, the provider of CDN services, included in October 2024 the use of TLS ECH (Encrypted Client Hello) by default on its servers. This technology is a means of bypassing access restrictions on the information prohibited in Russia. Its use violates Russian legislation and technical measures for threat protection (TSPU)", the RKN said in a statement.*
>
> *"We recommend that the owners of information resources turn off the TLS ECH expansion or, more correctly, use domestic CDN services that provide reliable and safe functioning of resources and protection against computer attacks," the department added.*
>
> *RKN made such a statement in connection with the information that appeared on social networks that the agency blocks Cloudflare resources using TLS, which is why users complain about the impossibility of gaining access to sites on the Internet.*
>
> *A similar [statement](https://www.interfax.ru/russia/990568) was made on 7 November 2024 in connection with the information on the blocking of the CDN service Cloudflare on social networks due to the inclusion of the protocol, which allows you to bypass resource blocking in the Runet.*


So, we have only the following solutions to resolve that:
- Disable ECH in own browsers
- Wrap whitelisted sites or all traffic with VPN 
- ....

After couple of years what else we should use to secure our connections?

> The blocking trigger is the presence of [both of the following two elements](https://github.com/net4people/bbs/issues/393#issuecomment-2462130383) in the Client Hello:
> 
>     1. An [SNI extension](https://www.rfc-editor.org/rfc/rfc6066#section-3) with the value `cloudflare-ech.com`.
> 
>     2. An [ECH extension](https://www.ietf.org/archive/id/draft-ietf-tls-esni-22.html#section-5).

The 2025 FOCI paper ["Encrypted Client Hello (ECH) in Censorship Circumvention"](https://petsymposium.org/foci/2025/foci-2025-0016.php) documents a third necessary condition: the destination IP address must be in one of [Cloudflare's IP address ranges](https://www.cloudflare.com/ips/). See [Section 5](https://petsymposium.org/foci/2025/foci-2025-0016.pdf#page=6):

> Russian TSPU devices directly block ECH by dropping the ClientHello message containing the ECH extension (cf. Figure 5. To trigger the blocking, the `ClientHello` message has to contain the ECH extension and the hostname cloudflare-ech.com in the SNI extension—other hostnames do not trigger the ECH-specific blocking. The blocking affects both TLS and QUIC traffic. These properties of Russian ECH censorship were described previously [[48](https://github.com/net4people/bbs/issues/417)]. In addition to these previously known properties, we detected that the blocking only occurs in connections to Cloudflare's IP ranges. Notably, TSPU devices do not block ECH connections to servers supporting ECH through Cloudflare but are outside Cloudflare's IP ranges. We confirmed this behavior by sending ECH ClientHello messages to 1'500 additional servers located at distinct IP addresses; only messages to IP addresses in Cloudflare's advertised IP ranges were censored. As Russia only censors ECH to Cloudflare's advertised IP ranges, Russian ECH censorship can be circumvented by using an IP proxy located outside Russia and Cloudflare's IP ranges.


OVH IP ranges are also blocked in Russia since June 9th.

> OVH IP ranges are also blocked in Russia since June 9th.

Yes, which is separate from the Cloudflare ECH block, as I understand. https://ntc.party/t/17013 is the NTC thread.

> Примерно с 9 числа начались блокировки нескольких CDN-сервисов и хостинг-провайдеров. Достоверно известно про:
>
> * Cloudflare
> * OVH
> * Hetzner
> * DigitalOcean
>
> Недоступность сайтов за Cloudflare, Hetzner и DigitalOcean проявляется «зависанием» соединения примерно через 16 КБ переданных данных…
>
> С OVH ситуация иная, и началась она раньше, 28 мая. К его блокировке [приводит отправка любых UDP-пакетов](https://ntc.party/t/16713) на адреса других хостинг провайдеров, например, Scaleway/Online.net. Фильтр включается на 10 минут и блокирует HTTPS-запросы целиком (не давая скачать 16 КБ), блокировка повторяется при повторной отправке UDP-пакетов.

> *Around the 9th, several CDN services and hosting providers began to be blocked. It is reliably known about:*
>
> * *Cloudflare*
> * *OVH*
> * *Hetzner*
> * *DigitalOcean*
>
> *The inaccessibility of sites behind Cloudflare, Hetzner, and DigitalOcean is manifested by the "hanging" of the connection after about 16 KB of transferred data…*
>
> *With OVH, the situation is different, and it began earlier, on May 28. It is blocked by [sending any UDP packets](https://ntc.party/t/16713) to the addresses of other hosting providers, for example, Scaleway/Online.net. The filter is enabled for 10 minutes and blocks entire HTTPS requests (preventing the download of 16 KB), the blocking is repeated when UDP packets are re-sent.*

It will be interesting to see how ECH blocking in Russia changes once more servers/CDNs start supporting it